[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.172.31.47.160
Environment=CATALOGUE_HOST=catalogue.172.31.41.106
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target